/*BIG TABLET WIDTH SMALLER THAN 1140PX ROW*/
@media only screen and (max-width: 1140px) {

  


}

/*SMALL TO LARGE TABLET FROM 768-1023*/
@media only screen and (max-width: 1023px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    /*margin: 0 20px;*/
    width: auto;
  }

  .description {
    padding: 0 5%;
  }

  .projectLinks a {
    display: block;

  }

  .siteLink {
    margin-bottom:20px;
  }



}

/*SMALL PHONES AND TABLETS FROM 481 TO 767PX */
@media only screen and (max-width: 767px) {

  body {
    /*padding: 0 20px;*/
    width: auto;
  }

  h1 { font-size: 200%; }

  h2 {
    font-size: 175%;
    margin-top: 10px;
  }

  .mainNav {
    display: none;
  }

  .mainNav.open li{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    text-decoration: none;
  }

  .toggleNav {
    display: inline-block;
    color: black;
    font-size: 200%;
  }

  .subheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 100%;
  }

  .description { font-size: 80%;}


  .project {
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
  }

  .projectLinks {
    display: flex;
    flex-direction: row;
  }

  .projectLinks a {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
  }

  .projectDescription {
    text-align: center;
  }

  /*.siteLink {
    width: auto;
  }*/


}

/* SMALL PHONES 0 TO 480PX*/
@media only screen and (max-width: 480px) {
  body {
    /*padding: 0 20px;*/
    width: auto;
  }

  h1 { font-size: 200%; }

  h2 {
    font-size: 175%;
    margin-top: 10px;
  }


  .mainNav {
    display: none;
  }

  .mainNav.open li{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    text-decoration: none;
  }

  .toggleNav {
    display: inline-block;
    color: black;
    font-size: 200%;
  }

  .subheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 100%;
  }

  .description { font-size: 80%;}


  .project {
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
  }

  .projectLinks {
    display: flex;
    flex-direction: row;
  }

  .projectLinks a {
    border: 1px solid black;
    text-align: center;
  }

  .projectDescription {
    text-align: center;
  }

  .siteLink {
    width: auto;
  }

  .socialLinks {
    display: flex;
    justify-content: space-around;
  }

  .socialLinks i {
    padding: 0 15px;
  }


}
