* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

/*NAVBAR*/

.mainNav {
  list-style: none;
  margin-top: 35px;
  width: 100%;
  /*float: right;*/
}

.mainNav li {
  float: right;
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 15px;
}

.mainNav li:first-child {
  float: left;
  margin-left: 0;
}

.mainNav li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.mainNav li a:link,
.mainNav li a:visited {
  padding: 5px 0;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.mainNav li a:hover,
.mainNav li a:active {
  border-bottom: 2px solid #000;
}


/*HEADER CONTENT*/

header {
  /*height: 100vh;*/
}

img {
  height: 250px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

h1 {
  font-family: 'Oxygen Mono', monospace;
  font-size: 310%;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.subheader {
  font-size: 125%;
  text-align: center;
  margin-bottom: 30px;
  list-style: none;
}

.subheader li {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  border-left: 1px solid #000;
}

.subheader li:first-child {
  border-left: 0;
}

.description {
  line-height: 150%;
}


/*PROJECTS*/

.col {
  padding: 1%;
}

.col img {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 0;
  border: 1px solid #000;
}

h2 {
  text-align: center;
  font-size: 250%;
}

h3 {
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
}

.projectLinks {
  margin-top: 25px;
  text-align: center;
  bottom: auto;
}

.projectLinks a {
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 8px;
  top: 150%;
}

.projectLinks a:hover {
  background-color: #000;
  color: #fff;
}

.siteLink {

}

.codeLink {
  margin-left: 15px;
}
